node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.log
*.mobileprovision
*.orig.*
web-build/
web-report/
coverage/**/*
reports/**/*
.env
junit.xml

# macOS
.DS_Store

.vscode/
package-lock.json
